@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dots {
  0%, 20% { color: transparent; }
  50% { color: white; }
}

.dot-1, .dot-2, .dot-3 {
  animation: dots 1.5s infinite;
}

.dot-2 {
  animation-delay: 0.3s;
}

.dot-3 {
  animation-delay: 0.6s;
}